<ul class="nav justify-content-center">
    <li class="nav-item">
        <a class="nav-link" href="/">
            Home
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/boards">
            Boards
        </a>
    </li>
</ul>
<br>
