<style>
    * {
        font-family: cursive;
    }
</style>

<title>chan</title>

<center>
<nav>
    <p>chan</a> |
    <a href="/">index</a> |
    <a href="/post">post</a> |
    <a href="/threads">threads</a>
</nav>
<br>
