{{> header }}

<form action="/api/v1/post" method="post">
    <table>
        <tr>
            <td>name</td>
            <td>
                <input name="name" type="text" placeholder="blank 4 `anonymous'">
                <input type="submit" value="post">
            </td>
        </tr>

        <tr>
            <td>comment</td>
            <td>
                <textarea name="comment" cols="48" rows="4"
                    wrap="soft" placeholder="comment" required></textarea>
            </td>
        </tr>

        <tr>
            <td>verification</td>
            <td>
                <input type="checkbox" disabled> i'm not a robot
            </td>
        </tr>

        <tr>
            <td>file</td>
            <td>
                <input type="file" disabled>
            </td>
        </tr>
    </table>
</form>
